<p id="notice"><%= notice %></p>

<p>
  <strong>Profession type:</strong>
  <%= @professional.profession_type %>
</p>

<p>
  <strong>License:</strong>
  <%= @professional.license_id %>
</p>

<p>
  <strong>Is licensed:</strong>
  <%= @professional.is_licensed %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @professional.is_active %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @professional.postal_code %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @professional.radius %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
